<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
  <meta charset="utf-8">
  <title>Add phone</title>
</head>
<body>
<div layout:fragment="Mycontent">
<div class="container mt-5" >
  <div class="card">
    <div class="card-header" th:if="${mode=='new'}"> Add Phones </div>
    <div class="card-header" th:if="${mode=='edit'}">Update Phones
    </div>

  <div class="card-body">

    <form action="saveTelephone" method="post">
      <div class="form-group">
        <label class="control-label">Phone name :</label>
        <input type="text" name="phoneName" class="form-control"  th:value="${phone.phoneName}" >
        <span th:errors= "${phone.phoneName}" class="text-danger"> </span>

      </div>
      <div class="form-group">
        <label class="control-label">Price :</label>
        <input type="text" name="price" class="form-control" th:value="${phone.price}"/>
        <span th:errors="*{phone.price}" class="text-danger"> </span>

      </div>

      <div class="form-group">
        <label>Type</label>
        <select class="form-control form-control-lg" id="type" name="type">
          <option th:each="types : ${types}" th:value="${types.idType}" th:text="${types.nameType}" >

          </option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">date création :</label>
        <input type="date" name="dateOfCreation" class="form-control" th:value="${phone.dateOfCreation}"/>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
      </div>
    </form>
  </div>

  <br/>
  <br/>

</div>
</div>
</div>
</body>
</html>